<html>

<head>

</head>

<body>
    <div>
        <img src="assets\home.png" alt="vAcademy" width=100%>

    </div>
    <div class="navbar">
        <a href="#home">Home</a>
        
        <!-- Trigger/Open The Modal -->
        <a id="myBtn" (click)="myFunctionbtnNews()">News</a>

        <!-- The Modal -->
        <div id="myModalNews" class="modal" (click)="myFunctionWindowNews()">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="myFunctionSpanNews()">&times;</span>
                <p>News</p>
                <p>Mohit Topped the DSA Exam</p>
                <p>Dhanesh Achived a new milestone in machine learning</p>
                <p>Rohan Completed the Deep Learning Course</p>
                <p>New Updates are Coming to Site</p>
            </div>

        </div>

        <!-- Trigger/Open The Modal -->
        <a id="myBtn" (click)="myFunctionbtnContact()">Contact</a>

        <!-- The Modal -->
        <div id="myModalContact" class="modal" (click)="myFunctionWindowContact()">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="myFunctionSpanContact()">&times;</span>
                <p>Contact</p>
                <p>Mobile no: +919876238635</p>
                <p>LAND Line: 76447-97367</p>
                <p>Email: help@vacademy.com</p>
                <p>Address : ABC road, XYZ corner Pune, Maharashtra 411044</p>
            </div>

        </div>

        <!-- Trigger/Open The Modal -->
        <a id="myBtn" (click)="myFunctionbtnAboutUs()">About Us</a>

        <!-- The Modal -->
        <div id="myModalAboutUs" class="modal" (click)="myFunctionWindowAboutUs()">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="myFunctionSpanAboutUs()">&times;</span>
                <p>We are a new pune based startup focused on providing the best learning content
                    
                    to the students in this lockdown.
                    <br>
                    Please join Us.
                    <br>
                    Happy Learning
                </p>
            </div>

        </div>

        <!-- Trigger/Open The Modal -->
        <a id="myBtn" (click)="myFunctionbtnFAQ()">FAQ</a>

        <!-- The Modal -->
        <div id="myModalFAQ" class="modal" (click)="myFunctionWindowFAQ()">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close" (click)="myFunctionSpanFAQ()">&times;</span>
                <p>FAQ</p>
                <p>What is creteria of giving exam?
                    <br>
                    -> You are Just Required to have interest in exploring things.
                </p>
                <p>What is age Limit?
                    <br>
                    -> Above 16 years.
                </p>
                <p>Financial Aid is Available?
                    <br>
                    ->Yes
                </p>
                <P>Payment Methods Available
                    <br>
                    -> PayPal

                </P>
            </div>

        </div>

       

    </div>


</body>

</html>