.rank0 {
    background-color: #c42ce2;
    border-left: 6px solid #f44336;
  }
  .rank1 {
    background-color: #4eb3c0;
    border-left: 6px solid #f44336;
  }
  .rank2 {
    background-color: #8f4acf;
    border-left: 6px solid #f44336;
  }
  .rank3 {
    background-color: #56db38;
    border-left: 6px solid #f44336;
  }